#homePage{
    height: 100vh;
    /* padding: 100px 0 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/homebg.jpg");
    /* background-size: 100% 100%; */
    background-size: cover;
    background-position: center center;
    /* background-position: fixed; */
    background-attachment: fixed;
}

@media screen and (max-width:768px) {
    #homePage{
        /* padding-top: 20px ; */
    }
}

.homeBg img{
    width: 100%;
    height: 100vh;
}
/* 
.megaTalkHead{
    text-shadow: 0 0 5px #2f849b,0 0 15px #2f849b,0 0 25px #2f849b;
    animation: bgHead 1s infinite;
}

@keyframes BgHead{
    0%{
        text-shadow: 0 0 5px #9b5c2f,
            0 0 15px #9b852f,
            0 0 25px #2f849b;
        color: #9b852f;    
    }
    100%{
        text-shadow: 0 0 5px #2f849b, 0 0 15px #2f849b, 0 0 25px #2f849b;
        color: aliceblue;
    }
} */